<%= render "shared/content/box" do %>
  <div class="flex items-center">
    <%= image_tag "payment-success.png", class: "mr-4" %>
    <div class="w-full">
      <h4 class="font-bold text-lg"><%= t :invoice_completed %></h4>
      <p class="text-lg"><%= t :invoice_completed_description %></p>
    </div>
  </div>
<% end %>
