<div class="my-4 py-4">
    <h1>500 Internal error</h1>
    <p>Uh oh... something went wrong on our end, but don't worry we are already working on it!</p>
    <%= link_to "Take me back to the home page", "/", class: "btn btn-primary btn-lg" %>
</div>