<div class="my-4 py-4">
    <h1>404 Not found</h1>
    <p>What you were looking for is not here anymore...</p>
    <%= link_to "Take me back to the home page", "/", class: "btn btn-primary btn-lg" %>
</div>
