<div class="my-4 py-4">
    <h1>422 Unacceptable</h1>
    <p>Sorry but we can't process that request...</p>
    <%= link_to "Take me back to the home page", "/", class: "btn btn-primary btn-lg" %>
</div>