<body style="background-color: #f0f7ff; padding-top: 50px; padding-bottom: 50px;">
  <div style="background-color: white; padding: 30px; border-radius: 5px; width: 350px; margin: 0 auto;">
    <div style="text-align: center">
      <%= image_tag image_path("logo.png"), style: "height: 18px; margin: 25px auto;" %>
    </div>

    <h1 style="font-family: Arial; font-size: 24px; text-align: center;">
      You have been invited!
    </h1>

    <p style="font-family: Verdana; font-size: 16px; line-height: 28px;">
      Hello <%= @expense_invitation.name %>, you have been invited to see <%= @expense_invitation.user.first_name %>'s expenses.
    </p>

    <p style="font-family: Verdana; font-size: 16px; line-height: 28px;">
      Please click on the following button to accept the invitation
    </p>

    <div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
      <%= link_to "Accept invitation", accept_invitation_expenses_url(@expense_invitation.token), style: "font-size: 18px; color: white; background-color: #2591ff; padding: 15px; padding-left: 50px; padding-right: 50px; border-radius: 25px; text-decoration: none; font-family: Arial; font-weight: bold;" %>
    </div>

    <p style="font-family: Verdana; font-size: 16px; line-height: 28px;">
      Once you accept the invitation, you will be able to log in with your Google account.
    </p>
  </div>
</body>