<div style="text-align: center; font-family: Arial;">
    <img src="<%= asset_url 'logo-alt.svg' %>" %>
    <h1>You've got a new invoice for $<%= @invoice.calculate_total %></h1>
    <%= link_to "See your invoice in our dashboard", project_invoice_url(@invoice.project, @invoice) %>
    <h2>Thank you for working with us!</h2>
</div>
