<div style="text-align: center; font-family: Arial;">
    <h1>BlackMountain</h1>
    <h2>You've got a new invoice for $<%= @invoice.calculate_total %></h2>
    <%= link_to "See your invoice in our dashboard", project_invoice_url(@invoice.project, @invoice) %>
    <h3>Thank you for working with us!</h3>
</div>
