<div class="box">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><%= link_to @project.name, @project %></li>
      <li class="breadcrumb-item active" aria-current="page">Add member</li>
    </ol>
  </nav>

  <h6>Add member</h6>
  <%= render 'form', project: @project, project_contract: @project_contract, members: @members %>
</div>
