<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to @project.name, @project %></li>
    <li class="breadcrumb-item active" aria-current="page">Invoices</li>
  </ol>
</nav>

<%= render 'projects/invoices_box', invoices: @invoices, project: @project, user: current_user %>