<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to "Users", users_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Add user</li>
  </ol>
</nav>

<div class="box">
  <h6>New User</h6>
  <%= render 'form', user: @user %>
</div>