<div class="home-index">
  <%= render "welcome_message" %>
  <div class="row">
    <div class="col-lg-6">
      <%= render 'projects_box' %>
    </div>
    <div class="col-lg-6">
      <%= render 'invoices_box' %>
    </div>
  </div>
</div>
