<div class="bg-blue-100 border border-blue-200 rounded p-8 my-3 flex text-blue-800">
  <div class="mr-3"><%= image_tag "Github.png" %></div>
  <div class="ml-3">
    <h5 class="text-xl font-bold"><%= t :welcome, name: current_user.first_name %></h5>
    <p class="text-base">
      <%= t :excellent_day_and_enjoying_app %><br>
      <%= t :feedback_html %>
    </p>
  </div>
</div>
