<div class="home-index">
  <div class="media mb-4">
    <div style="font-size: 36px;" class="mr-3">👋</div>
    <div class="media-body">
      <h2 class="mb-0">Welcome <%= current_user.first_name %>!</h2>
      <p>We keep working on the dashboard. Expect new features coming up soon!</p>
    </div>
  </div>
  <%= render 'projects_box' %>
</div>