<% content_for :content do %>
  <h4 class="text-sm font-bold text-gray-600 my-3 uppercase">
    <%= t :subscription %>
  </h4>
  <%= render "shared/content/box" do %>
    Subscription
  <% end %>
<% end %>

<%= render "auth_layout" %>
