<% unless project.is_client? user %>
    <div class="box mb-4">
        <h6>Activity track</h6>
        <%= render 'activity_tracks/form', project: project, activity_track: activity_track %>
    </div>
<% end %>