<% if @invoice_status.present? && @invoice_status.user_confirm_hours? %>
  <div class="alert alert-success border">
    <div class="media">
      <div class="mr-3">
        <i class="fas fa-bullhorn"></i>
      </div>
      <div class="media-body">
        <h6 class="alert-heading mb-0"><%= t :time_to_create_invoice %></h6>
        <p><%= t :time_to_create_invoice_message, name: current_user.first_name %></p>
        <p><%= t :time_to_create_invoice_confirmation, period: @invoice_status.invoice_status.invoice.from.strftime('%B %Y'), hours: calculate_hours_from(@invoice_status_logs), amount: humanized_money_with_currency(calculate_invoice_amount_from(@invoice_status_logs), 'USD') %></p>
        <%= link_to t(:time_to_create_invoice_yes_its_correct), confirm_hours_project_invoice_status_path(@project, @invoice_status), method: :post %>
      </div>
    </div>
  </div>
<% end %>
