<% if project.is_client? user or user.is_admin? %>
<div class="box mb-4">
  <h6>Members</h6>
  <div class="members-container">
    <% contracts.order("case activity when 'Owner' then 0 end").each do |contract| %>
      <%= render 'contract_member', project: project, contract: contract %>
    <% end %>
  </div>
  <%= render 'add_member_button', project: project %>
</div>
<% end %>