<% unless @stopwatch.present? %>
  <button type="button" class="mr-2 bg-blue-400 p-3 rounded text-white flex items-center">
    <svg class="w-4 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <%= t :start_stopwatch %>
  </button>

  <!--
  <div class="modal fade" id="stopWatchModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body text-left">
          <h4 class="px-4 pt-4"><%= t :stopwatch %></h4>
          <div class="p-4">
            <%= render 'activity_stop_watches/form', project: @project, activity_stop_watch: ActivityStopWatch.new, user: current_user %>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
<% end %>
