<% unless @stopwatch.present? %>
  <div class="flex items-center">
    <%= link_to new_project_activity_track_url(@project), class: "btn btn-secondary" do %>
      <div class="flex items-center">
        <svg class="w-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <%= t(:log_activity) %>
      </div>
    <% end %>
    <span class="text-sm px-3 text-gray-400"><%= t :or %></span>
    <%= render 'activity_stop_watches/form', project: @project, activity_stop_watch: ActivityStopWatch.new, user: current_user %>
  </div>
<% end %>
