<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Projects</li>
  </ol>
</nav>

<div class="box">
  <h6>Projects</h6>
  <% @projects.each do |project| %>
    <div class="media mt-3 p-3 border rounded shadow-sm">
      <%= image_tag project.icon_url || image_url('default-project-icon.png'), class: "avatar align-self-center mr-3" %>
      <div class="media-body text-dark pt-1">
        <%= link_to project.name, project %>
      </div>
    </div>
  <% end %>
</div>
