<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><%= t :home %></a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t :create_new_project %></li>
  </ol>
</nav>

<div class="box">
  <h6><%= t :create_new_project %></h6>
  <%= render 'form', project: @project %>
</div>
