<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create new project</li>
  </ol>
</nav>

<div class="box">
  <h6>Create new project</h6>
  <%= render 'form', project: @project %>
</div>