<div class="my-4 py-4">
  <h1 class="text-center text-lg font-bold"><%= t :onboarding_all_set %></h1>
  <h2 class="text-center text-lg text-gray-600"><%= t :onboarding_ready_to_start_working %></h2>
  <div class="text-center mt-4">
    <%= link_to t(:onboarding_take_me_to_project, project: @project.name), @project %>
  </div>
</div>
