<div class="box invoice-next-step">
  <div class="media">
    <%= image_tag "payment-success.png", class: "mr-4" %>
    <div class="media-body">
      <h4 class="mt-4 mb-1">#4 - Done! <i class="fa fa-circle-check text-success"></i></h4>
      <p class="lead">You are all set 😄!</p>
      <!--
      <div class="text-right">
        <%= link_to "Download documentation", "/", class: "btn btn-primary" %>
      </div>
      -->
    </div>
  </div>
</div>

<%= render 'invoices/invoice_status/member/user_paying_in_progress', completed: true %>
