<%= render "shared/content/box" do %>
  <div class="flex items-center">
    <%= image_tag "payment-success.png", class: "mr-4" %>
    <div class="w-100">
      <h4 class="text-lg font-bold"><%= t :payment_completed %></h4>
      <p class="text-lg"><%= t :payment_completed_description %></p>
    </div>
  </div>
<% end %>
