<%= render "shared/content/box" do %>
  <div class="flex items-center">
    <%= image_tag "transfer.png", class: "mr-4" %>
    <div class="w-full">
      <h4 class="text-lg font-bold"><%= t :payment_in_process %></h4>
      <p class="text-lg">
        <%= t :payment_in_process_description %>
      </p>
    </div>
  </div>
<% end %>
