<%= render "shared/content/box" do %>
  <div class="flex items-center">
    <%= image_tag "waiting-payment.png", class: "mr-4" %>
    <div>
      <h4 class="text-lg font-bold">
        <%= t :waiting_for_payment %>
      </h4>
      <p class="text-lg">
        <%= t :waiting_for_payment_description %>
      </p>
    </div>
  </div>
<% end %>
