<footer class="bg-gray-400 mt-8">
  <div class="container mx-auto">
    <div class="py-8">
      <h5 class="font-bold">trackear</h5>
      <p class="pt-2">
        Si tenés comentarios y/o sugerencias por favor <a class="text-primary btn-link p-0" href="mailto:contact@black-mountain.com.ar">enviános un email</a>.
      </p>
      <span class="font-bold">Redes sociales:</span> <a target="_blank" rel="nofollow" href="https://github.com/Ruk33/trackear">GitHub</a>
    </div>
  </div>
</footer>

<%= javascript_pack_tag "main" %>
