<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h5 class="font-weight-bold">trackear</h5>
        <p class="pt-2">
          Si tenés comentarios y/o sugerencias por favor <a class="text-primary btn-link p-0" href="mailto:contact@black-mountain.com.ar">enviános un email</a>, ¡nos encanta recibir feedback!
        </p>
      </div>

      <div class="col-lg-3">
        <div class="my-2 font-weight-bold">REDES SOCIALES</div>
        <ul class="list-unstyled">
          <li class="py-2">
            <i class="fab fa-github-square"></i>
            <a
              target="_blank"
              rel="nofollow"
              href="https://github.com/Ruk33/trackear"
            >
              GitHub
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
