<footer class="bg-gray-800 mt-8 text-gray-200">
  <div class="container mx-auto">
    <div class="py-8 flex items-center justify-between">
      <div>
        <h5 class="font-bold flex items-center">
          <svg class="w-5 mr-2 text-pink-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          trackear
        </h5>
        <p class="pt-2">
          Si tenés comentarios y/o sugerencias por favor <a class="text-primary btn-link p-0" href="mailto:contact@black-mountain.com.ar">enviános un email</a>.
        </p>
      </div>
      <div class="text-center text-sm">
        Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
      </div>
    </div>
  </div>
</footer>
