<div class="row justify-content-md-center">
  <div class="col-lg-6">
    <div class="box text-center py-5">
      <h3>Log in</h3>
      <p>Please log in using your Google account</p>
      <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "btn btn-red" %>
    </div>
  </div>
</div>
