<div class="row justify-content-md-center">
  <div class="col-lg-6">
    <div class="box text-center py-5">
      <%= image_tag "logo.png", height: "24", class: "my-3" %>
      <p class="p-3">
        Welcome to our dashboard.<br>
        Please log in with your Google account.
      </p>
      <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-red" do %>
        <%= icon('fab', 'google', class: 'mr-2') %>
        Sign in with Google
      <% end %>
    </div>
  </div>
</div>