.projects-show {
  .stopwatch {
    position: fixed;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    background-color: #232f3e;
    padding: 20px 40px;
    box-shadow: 0 5px 15px rgba(113, 128, 150, 0.25);
    border: 1px solid rgba(113, 128, 150, 0.25);
    border-radius: 5px;
    z-index: 1;
  }

    .member-list-item {
        position: relative;
        border-radius: 100%;
        border: 5px solid #f0f7ff;
        width: 36px;
        height: auto;
        margin-right: -15px;
        transition: all 150ms;

        &:hover {
            z-index: 1;
            transform: scale(1.15);
        }
    }

    .track-footer {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        border-top: 1px solid #eaecef;
        color: #6f8198;
        background-color: #f8f9fb;
        padding: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 25px;
        margin-left: -25px;
        margin-right: -25px;
        margin-bottom: -30px;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .stats-number {
        font-size: 24px;
        font-weight: bold;
        color: black;
    }
}

.track-footer {
    font-size: 16px;
    border-top: 1px solid #eaecef;
    color: rgb(117, 129, 145);
    background-color: #f8f9fb;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: -30px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
