@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  font-family: 'Nunito';
}

.breadcrumb {
  a {
    @apply text-orange-500;
  }
}

.form-group {
  @apply py-3;

  label {
    @apply block;
    @apply uppercase;
    @apply tracking-wide;
    @apply text-gray-700;
    @apply text-xs;
    @apply font-bold;
    @apply mb-2;
  }
}

.form-control {
  @apply appearance-none;
  @apply border;
  @apply rounded;
  @apply w-full;
  @apply py-2;
  @apply px-3;
  @apply text-gray-700;
  @apply leading-tight;

  &:focus {
    @apply outline-none;
    @apply border-blue-300;
  }
}

.field_with_errors {
  .form-control {
    @apply border-red-500;
  }
}

.btn {
  @apply cursor-pointer;
  @apply font-bold;
}

.btn.btn-secondary {
  @apply text-gray-600;
  @apply border;
  @apply p-3;
  @apply rounded;
}

.btn.btn-primary {
  background-color: #48d466;
  border-color: #48d466;
  @apply border;
  @apply text-white;
  @apply p-3;
  @apply rounded;
}

.alert.alert-danger {
  @apply bg-red-300;
  @apply border;
  @apply border-red-400;
  @apply text-red-700;
  @apply p-4;
}

.alert-heading {
  @apply font-bold;
}
