.alert {
    margin-bottom: 0;
    border-radius: 0;
}

.alert-info {
    color: #2591ff;
    background-color: #b5f3ff;
    border-color: #75edff;
}

.alert-danger {
    background-color: #ffb0b0;
    border-color: #e27070;
}