.alert {
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
}

.alert-info {
    color: white;
    background-color: #2591ff;
}

.alert-danger {
    color: white;
    background-color: #ff4f33;
}

.alert-success {
  background-color: #d9f5cb;

}
