/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

$blue: rgb(30, 167, 253) !default;

$body-bg: #F7FAFC !default;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "**/*";
@import "*";

html,
body {
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #455a64;
}

#page-content {
    
}

.content-container {
    flex: 1 0 auto;
}

.footer {
    margin-top: 100px;
    flex-shrink: none;
    padding-top: 75px;
    padding-bottom: 75px;
    font-size: 14px;
    background-color: #ebeff3;
}

.footer a {
    color: #4A5568;
}

.footer i {
    margin-right: 10px;
    color: #8d99a0;
}
