/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

html {
    min-height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #455a64;
}

.content-container {
    background: #f0f7ff;
    padding-bottom: 300px;
}

.footer {
    height: 325px;
    padding: 80px;
    font-size: 14px;
    border-top: 1px solid #d2d8e2;
    background-color: white;
}

.footer a {
    color: black;
}

.footer i {
    margin-right: 10px;
    color: #2591ff;
}
