.badge {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 14px;
}

.badge-success {
    background-color: #4bdc38;
}

.badge-warning {
    background-color: #ffbc00;
    color: white;
}