.breadcrumb {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    background: transparent;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #a9d4ff;
}

.breadcrumb-item.active {
    color: #000000;
}
