.welcome-button {
    background: linear-gradient(45deg, #ff7d43, #ffb42b);
    border: 0;
    text-shadow: 0 0 2px #56270a;
}

.btn {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    font-weight: bold;
}

.btn-primary {
    background-color: #0091ff !important;
    border-color: #0091ff !important;

    &:hover {
        background-color: #56b6ff !important;
        border-color: #56b6ff !important;
    }
}

.btn-outline-secondary {
    color: #596f77 !important;
    border-color: #aeb8bb !important;
    background-color: transparent !important;

    &:hover {
        color: #758991 !important;
    }
}

.btn-red {
    color: #fff !important;
    background-color: #f56849;
    border-color: #f56849;
}

.btn-orange {
    color: #fff !important;
    background-color: #ff6a00;
    border-color: #ff6a00;

    &:hover {
        background-color: #ff832a;
        border-color: #ff832a;
    }
}

.btn-green {
    color: #fff !important;
    background-color: #00c746;
    border-color: #00c746;
}

.btn-dark {
    color: #fff !important;
    background-color: #2a3f46 !important;
    border-color: #315461 !important;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
}