.box {
    position: relative;
    background-color: white;
    padding: 30px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(113, 128, 150, 0.1);
    border: 1px solid rgba(113, 128, 150, 0.15);
}

.box h6 {
    margin-bottom: 25px;
    text-transform: uppercase;
}

.avatar {
    border-radius: 100%;
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.lead {
    color: #90a8bf;
}