.box {
    background-color: white;
    padding: 25px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dce2e9;
    border-top: 3px solid #ff6d00;
}

.box h6 {
    margin-bottom: 25px;
    text-transform: uppercase;
}

.avatar {
    border-radius: 100%;
    height: 32px;
    width: 32px;
    margin-right: 10px;
}