.dropdown-menu {
    box-shadow: 0 5px 10px rgba(113, 128, 150, 0.2);
    border: 1px solid rgba(113, 128, 150, 0.15);
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #ebf5ff;
}

.dropdown-item {
    padding-bottom: 10px;
    padding-top: 10px;
}

.dropdown-item i {
    margin-right: 10px;
    color: #56b8ff;
    font-size: 12px;
}

.dropdown-toggle::after {
    display: none;
}