.home-invoice-box {
    position: relative;
}

.home-invoice-action-button-container {
    width: 80px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.home-welcome-message {
  background-color: #ddffc8;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 50px !important;
}

.home-welcome-message p {
  color: green;
  font-size: 18px;
}
