.invoice-description-col {
    width: 50%;
    word-break: break-all;
}

.invoice-number-col,
.invoice-rate-col,
.invoice-qty-col {
    width: 10%;
}

.invoice-total-col {
    width: 20%;
}

.invoice-box {
    overflow: hidden;
}

.invoice-status-badge {
    position: absolute;
    top: 10px;
    left: -10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
}

.invoice-actions {
    position: absolute;
    top: 10px;
    right: 10px;
}

.invoice-amount {
    font-size: 32px;
}

.invoice-next-step {
    border: 0;
    padding: 30px;
    border-radius: 25px;
    margin-bottom: 50px;
}

.invoice-next-step.completed {
    opacity: 0.6;
    transform: scale(0.95);
}
