.left-menu {
    position: relative;
    background-color: white;

    .menu-item {
        i {
            color: #2591ff;
        }

        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        display: block;
        color: black;
        text-decoration: none !important;
        margin-bottom: 5px;
        padding: 10px;
        border-radius: 5px;

        &:hover {
            background-color: #ebf5ff;
        }
    }

    .menu-item-user {
        margin-bottom: 10px;
        background-color: #2591ff;
        padding: 10px;
        border-radius: 5px;

        .username {
            margin: 0;
            margin-top: 5px;
            line-height: 14px;
            text-overflow: ellipsis;
            display: block;
            width: 180px;
            overflow: hidden;
            color: white;
        }

        .email {
            font-size: 12px;
            color: #d5e6ff;
            text-overflow: ellipsis;
            display: block;
            width: 180px;
            overflow: hidden;
        }
    }
}