.expenses-index {
    .chart {
        background-color: white;
        padding: 20px;
        padding-right: 50px;
        padding-top: 50px;
        border: 1px solid #dde3ec;
        margin-bottom: 75px;
    }
}