<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to "Expenses", expenses_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Create new expense</li>
  </ol>
</nav>

<div class="box">
    <h6>New Expense</h6>
    <%= render 'form', expense: @expense %>
</div>