.users-sign-in-container {
    background: linear-gradient(30deg, rgb(211, 223, 255), rgb(214, 255, 255));
    font-family: 'Nunito', sans-serif;
    font-size: 18px;

    .box {
        margin-top: 150px;
    }
}